@import 'tailwindcss';
@import 'tw-animate-css';

:root {
  --color-primary: #1b3826;
  --color-accent: #e98118;
  --color-background: #e6dec3;
  --color-tertiary: #fffdf5;
  --color-section-background: #f6f0db;

  /* 
  --h2-font-size: 2.25rem;
  --h3-font-size: 1.5rem;
  --p-font-size: 1rem; */
}
body {
  background-color: var(--color-background);
  color: var(--color-primary);
}
