@import 'tailwindcss';
@import 'tw-animate-css';

:root {
  --color-letter: #1b3826;
  --color-accent: #e98118;
  --color-background: #e6dec3;
  /* 
  --h2-font-size: 2.25rem;
  --h3-font-size: 1.5rem;
  --p-font-size: 1rem; */
}
body {
  background-color: var(--color-background);
}
